spring:
  application:
    name: auth-service
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      properties:
        hibernate.format_sql: true
  rabbitmq:
    addresses: ${APP_URL}
logging:
  level:
    org:
      springframework:
        security: debug
      hibernate:
        type: trace
broker:
  queue:
    email:
      name: default.email
api:
  security:
    token: ${JWT_SECRET:my-secret}
aws:
  region: sa-east-1

management:
  metrics:
    tags:
      service: ${spring.application.name}
  server:
    port: 9090
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: 'health,prometheus'
  endpoint:
    health:
      enabled: true
      show-details: always
    prometheus:
      enabled: true